doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(type="text/javascript", src="https://cdn.bootcss.com/jquery/2.2.0/jquery.js")
  body
    block content
